<%= form_with(model: friend, class: "contents") do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>
      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-col gap-4">
    <%= form.text_field :first_name, class: "input", placeholder: "First name" %>
    <%= form.text_field :last_name, class: "input", placeholder: "Last name" %>
    <%= form.text_field :email, class: "input", placeholder: "Email" %>
    <%= form.text_field :phone, class: "input", placeholder: "Phone" %>
    <div class="hidden">
      <%= form.number_field :user_id, id: :friend_user_id, class: "input", value: current_user.id %>
    </div>
  </div>

  <div class="inline-block mt-5">
    <%= form.submit class: "btn btn-indigo mr-2" %>
  </div>
<% end %>
